html 
    head 
        title="Confinguración del Servidor"
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css',rel='stylesheet')
    body
        h1(style="color:blue; text-align:center")!=twitter
        h2(style="margin-left:100")!="ID: " + twitter1
        h2(style="margin-left:100")!="KEY: " + twitter2 
        h2(style="margin-left:100")!="SECRET: " + twitter3
        hr
        h1(style="color:blue; text-align:center")!=facebook 
        h2(style="margin-left:100")!="ID: " + facebook1
        h2(style="margin-left:100")!="SECRET: " + facebook2
        hr
        h1(style="color:blue; text-align:center")!=google 
        h2(style="margin-left:100")!="ID: " + google1
        h2(style="margin-left:100")!="SECRET: " + google2
        
