<style>
    .table td,
    .table th {
        vertical-align: middle;
    }

    h1 {
        color: blue;
    }

    hr {
        background-color: #ddd;
    }

    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Carrito</h1>

    <br>
    {{#if hayProductos}}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
                <th>Acci&oacute;n</th>
            </tr>
            {{#each productos}}
            <tr>
                <td>{{this.producto.nombre}}</td>
                <td>${{this.producto.precio}}</td>
                <td><img width="50" src={{this.producto.foto}} alt="not found"></td>
                <td><button type="button" class="btn btn-primary" href="/borrar/{{this.producto.id}}">Eliminar</button></td>

            </tr>
            {{/each}}

        </table>
    </div>
    {{else}}
    <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
</div>
